@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  font-family: "LatoRegular";
  font-family: "OpenSansLight";
  font-family: "OpenSansRegular";
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  font-style: normal;
  font-weight: normal;
}
.header-001 {
  padding: 8px 0;
}
.header-001 li {
  font-family: 'LatoLight', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
}
.menu-001 {
  background-color: #1b365b;
  padding: 0;
}
.menu-001 .logo img {
    padding: 10px 0;
}

.menu-001 .nav > li > a {
  color: #ffffff;
  display: block;
  font-family: 'OpenSansLight', sans-serif;
  font-size: 16px;
  padding: 20px 20px;
  position: relative;
}
.menu-001 .navbar-nav > li > .dropdown-menu {
  background-color: #10294f;
  border-top: 3px solid #2964bc;
  margin-left: 3px;
  padding: 15px 13px 15px 20px;
}
.menu-001 .navbar-nav > li > .dropdown-menu:after {
  border-bottom-color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
  border-width: 7px;
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  width: 0;
}
.menu-001 .navbar-nav > li > .dropdown-menu:before {
  border-bottom-color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
  border-width: 7px;
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  width: 0;
}
.menu-001 .navbar-nav > li > .dropdown {
  left: 0;
  margin-left: 3px;
  position: absolute;
  top: 0;
}
.menu-001 .dropdown-menu > li > a {
  color: #ffffff;
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 15px;
}
.menu-001 .dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #4c7eca;
}
.menu-001 .dropdown-menu > li > a:focus {
  background-color: transparent;
  color: #4c7eca;
}
.menu-001 .nav > li > a:hover,
.menu-001 .nav > li > a:focus,
.menu-001 .nav .open > a,
.menu-001 .nav .open > a:hover,
.menu-001 .nav .open > a:focus {
  background-color: transparent;
  color: #64b5f6;
  text-decoration: none;
}
.gallery-001 .row {
  border-top: 2px solid #d8354c;
}

.gallery-001 .thumbnail {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}
.gallery-001  .thumbnail.pad-t-r {
    padding: 10px 0 0 0;
}
.gallery-001  .thumbnail.pad-t-b {
    padding: 10px 0 10px 0;
}
.gallery-001  .thumbnail.pad-l-t {
    padding: 10px 0 10px 0;
}
.gallery-001  span a.thumbnail>img:hover {
   content: "";
   display: block;
   position: absolute;
   background:red;
   opacity: .2;
}
.work-effect-pos {
    position: relative;
    top: 40%;
    width: 230px;
    margin: 0 auto;
    height: 70px;
    display: none;
}