@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.header-001 {
  padding: 8px 0;
}
.header-001 li {
  font-family: 'LatoLight', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
}

.menu-001 {
  background-color: #1b365b;
  padding: 0;
}
.menu-001 .logo img {
    padding: 10px 0;
}
.menu-001 .nav > li > a {
  color: #ffffff;
  display: block;
  font-family: 'OpenSansLight', sans-serif;
  font-size: 16px;
  padding: 20px 20px;
  position: relative;
}
.menu-001 .navbar-nav > li > .dropdown-menu {
  background-color: #10294f;
  border-top: 3px solid #2964bc;
  padding: 15px 13px 15px 20px;
}
.menu-001 .dropdown-menu.bullet {
    margin-top: 8px;
}
.menu-001 .dropdown-menu.pull-center {
    right: 50%;
    left: auto;
}
.menu-001  .open>.dropdown-menu {
    display: block;
}
.menu-001 .navbar-nav > li > .dropdown-menu:after, 
.menu-001 .navbar-nav > li > .dropdown-menu:before {
  border-bottom-color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
  border-width: 7px;
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  width: 0;
}
.menu-001 .navbar-nav > li > .dropdown {
  left: 0;
  margin-left: 3px;
  position: absolute;
  top: 0;
}
.menu-001 .dropdown-menu > li > a {
  color: #ffffff;
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 15px;
}
.menu-001 .dropdown-menu > li > a:hover, 
.menu-001 .dropdown-menu > li > a:focus{
  background-color: transparent;
  color: #4c7eca;
}
.menu-001 .nav > li > a:hover,
.menu-001 .nav > li > a:focus,
.menu-001 .nav .open > a,
.menu-001 .nav .open > a:hover,
.menu-001 .nav .open > a:focus {
  background-color: transparent;
  color: #64b5f6;
  text-decoration: none;
}

.gallery-001 .row {
  border-top: 2px solid #d8354c;
}
.gallery-001 [class*="-4"] {
	padding-left:0;
    padding-right:0;
}
.gallery-001 h1 {
	padding-top: 45px;
	font-family: 'LatoLight', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #184e9f;
    padding-bottom: 38px;
    margin: 0;
    line-height: 1;
}
.gallery-001 .thumbnail span {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 3.8rem;
    color: #FAFAFA;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gallery-001 .thumbnail{
    position: relative;
    display: block;
    border: 0;
    padding: 0;
    margin: 10px 5px;
    background-color: #113873;
}
.gallery-001 .thumbnail img {
    display: block;
    min-width: 380px;
    height: 100%;
    transition: opacity .2s linear;
}
.gallery-001 .thumbnail:hover img {
    opacity: .25;
}
.gallery-001 .thumbnail:hover span {
  opacity: 1;
}
.gallery-001  .carousel {
    margin: 5px 5px;
}
.gallery-001  .carousel-inner>.item>img, 
.gallery-001 .carousel-inner>.item>a>img {
    height: 100%;
    min-width: 380px;
}
